@import '../../Common/scss/mixins';
.First__Container {
  @include Container__Form();
  font-size: 8vw;
  font-weight: 800;
  position: relative;
  .First__Wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: 100vh;
    right: 0;
    position: absolute;
    > span {
      padding-left: 70px;
      @include responsive('tablet') {
        padding-left: 30px;
      }
    }
    .First__Logo-Mobile {
      @include Logo__Mobile();
    }
    .First__SNS {
      position: absolute;
      right: 20px;
      bottom: 80px;
      display: flex;
      flex-direction: column;
      font-size: 25px;
      height: 70px;
      justify-content: space-around;
      color: gray;
      transition: 1s;
      > svg {
        &:hover {
          color: #659e38;
          cursor: pointer;
          transition: 1s;
        }
        &:last-child {
          margin-left: 1px;
        }
      }
      @include responsive('tablet') {
        bottom: 140px;
      }
      @include responsive('mobile') {
        bottom: 80px;
        font-size: 18px;
      }
    }
    > span {
      margin-left: 15px;
      display: block;
    }
  }
}
