@import '/src/Components/Common/scss/mixins';
@import '/src/Components/Common/scss/variables';

.First__Container {
  @include Container__Form();
  > span {
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 7vw;
    font-weight: 900;
    @include responsive('tablet') {
      width: 70%;
      text-align: center;
      line-height: 1.7;
      font-size: 12vw;
    }
    @include responsive('mobile__small') {
      width: 50%;
      text-align: center;
      line-height: 1.7;
      font-size: 12vw;
    }
    > div {
      color: white;
      font-size: 7vw;
      font-weight: 900;
      position: absolute;
      top: -52%;
      left: 65.7%;
      @include responsive('tablet') {
        top: 28%;
        left: 61%;
        font-size: 9vw;
      }
      @include responsive('mobile__small') {
        top: 46%;
        left: 65%;
      }
    }
  }
  > video {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    z-index: -1;
  }
  .First__SNS {
    position: absolute;
    right: 20px;
    bottom: 80px;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    height: 70px;
    justify-content: space-around;
    color: white;
    transition: 1s;
    > svg {
      &:hover {
        color: $Green;
        cursor: pointer;
        transition: 1s;
      }
      &:last-child {
        margin-left: 1px;
      }
    }
    @include responsive('tablet') {
      bottom: 120px;
    }
    @include responsive('mobile__small') {
      bottom: 80px;
      font-size: 18px;
      height: 50px;
    }
  }
}
