@import '/src/Components/Common/scss/mixins';
@import '/src/Components/Common/scss/variables';
.Fourth__Container {
  @include Container__Form();
  .Fourth__Wrapper {
    width: 70%;
    margin-left: -10px;

    @include responsive('tablet') {
      display: flex;
      flex-direction: column;
    }
    @include responsive('mobile') {
      margin-left: -40px;
    }
    .Fourth__Title {
      font-weight: 600;
      font-size: 3vw;
      color: #292929;
      margin-bottom: 50px;
      @include responsive('tablet') {
        font-size: 4vw;
        margin-bottom: 0px;
      }
      @include responsive('mobile__small') {
        margin-left: 40px;
        margin-bottom: -30px;
        line-height: 1.3;
        font-size: 4vw;
      }
    }
    .Fourth__Contents {
      @include responsive('tablet') {
        margin-top: 20px;
      }
      @include responsive('mobile__small') {
        margin: 20px 0 0 40px;
      }
      .Fourth__Section {
        display: grid;
        margin-top: 30px;
        gap: 15px;
        grid-template-columns: repeat(4, 20vw);
        @include responsive('tablet') {
          grid-template-columns: 40vw 40vw;
          grid-template-rows: 50vw 50vw;
        }
        @include responsive('mobile__small') {
          grid-template-columns: 30vw 30vw;
          grid-template-rows: 45vw 45vw;
          gap: 30px;
        }
        .Fourth__Article {
          text-decoration: none;
          color: black;
          transition: 0.5s;
          cursor: pointer;
          margin-bottom: 30px;
          &:hover {
            transform: scale(1.05);
            transition: 0.5s;
          }

          > h1 {
            font-weight: 700;
            font-size: 1.5vw;
            margin-left: 5px;
            margin-bottom: 8px;
            @include responsive('tablet') {
              font-size: 3vw;
              margin-bottom: 12px;
            }
            @include responsive('mobile__small') {
              margin-bottom: 1px;
            }
          }
          > span {
            font-size: 1vw;
            color: gray;
            @include responsive('tablet') {
              font-size: 2vw;
            }
            > em {
              color: $LightGreen;
              margin-left: 10px;
              font-style: italic;
              @include responsive('mobile__small') {
                margin-left: 6px;
              }
            }
          }
          > img {
            height: 16vw;
            width: 16vw;
            margin-bottom: 15px;
            object-fit: fill;
            @include responsive('tablet') {
              height: 35vw;
              width: 35vw;
            }
            @include responsive('mobile__small') {
              height: 35vw;
              width: 35vw;
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
}
