@import '/src/Components/Common/scss/mixins';
@import '/src/Components/Common/scss/variables';

.Second__Container {
  @include Container__Form();
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include responsive('mobile') {
    margin-left: 1rem;
  }
  .Second__Wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    .Tag-Container {
      position: absolute;
      top: 40%;
      left: 22%;
      width: 60%;
      max-width: 1000px;
      display: grid;
      grid-template-columns: repeat(10, minmax(0, 1fr));
      @include responsive('tablet') {
        grid-template-columns: repeat(5, minmax(0, 1fr));
        gap: 0.5rem;
        left: 17%;
        top: 39%;
      }
      @include responsive('mobile__small') {
        left: 15%;
        width: 75%;
        gap: 0.2rem;
      }
      .Crops__Tag {
        font-size: 1rem;
        color: #a6a6a6;
        margin: 0 auto;
        width: fit-content;
        height: fit-content;
        cursor: pointer;
        background-color: white;
        border: none;
        transition: 0.5s;
        @include responsive('tablet') {
          font-size: 1.3rem;
        }
        @include responsive('mobile') {
          font-size: 1rem;
        }
        @include responsive('mobile__small') {
          font-size: 0.7rem;
        }
        &:hover {
          color: tomato;
          transition: 0.5s;
          font-weight: 700;
        }
      }
    }
  }
}

// 검색창
.HSearch__Container {
  position: absolute;
  top: 45%;
  left: 22%;
  border: 3px solid #68d391;
  width: 60%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 12px;
  @include responsive('tablet__large') {
    width: 70%;
  }
  @include responsive('tablet') {
    left: 17%;
    padding-left: 10px;
  }
  @include responsive('mobile__small') {
    left: 15%;
    width: 70%;
  }

  .HSearch__Input {
    display: flex;
    width: 100%;
    align-items: center;
    .HSearch__Icon {
      color: #68d391;
      width: 1.4rem;
      height: 1.4rem;
      padding: 0.3rem;
      margin-right: 10px;
    }
    .HClose__Icon {
      color: #68d391;
      width: 1.4rem;
      height: 1.4rem;
      padding: 0.3rem;
      cursor: pointer;
      margin-right: 20px;
    }
    > input {
      font-size: 1.2rem;
      color: #68d391;
      font-weight: 600;
      width: 100%;
      padding: 10px 1.2rem;
      border: none;
      text-decoration: none;
      outline: 2px solid transparent;
      outline-offset: 2px;
      border-radius: 12px;
      &::placeholder {
        color: lightgray;
        transition: 0.5s;
      }
      &:focus {
        &::placeholder {
          color: white;
          transition: 0.5s;
        }
      }
      @include responsive('tablet') {
        font-size: 1.5rem;
        padding-left: 1rem;
      }
      @include responsive('mobile') {
        font-size: 1rem;
        padding: 10px 0.5rem;
      }
      @include responsive('mobile__small') {
        font-size: 0.8rem;
        padding: 0.5rem;
      }
    }
  }
}

.Data__Result {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 13rem;
  overflow: hidden;
  text-decoration: none;
  @include responsive('mobile') {
    height: 12rem;
  }
  .Data__Item {
    font-size: 1rem;
    font-weight: 500;
    color: darkslategray;
    width: 100%;
    line-height: 2;
    padding-left: 2rem;
    transition: 0.3s;
    @include responsive('tablet') {
      font-size: 1.1rem;
      padding-left: 1rem;
    }
    @include responsive('mobile') {
      font-size: 0.9rem;
      padding: 0.1rem 0.5rem;
    }
    .Search__Sub-Icon {
      width: 1.2rem;
      margin-right: 1rem;
      color: #8c8c8c;
      @include responsive('mobile') {
        width: 0.8rem;
      }
    }
    &:hover {
      transition: 0.3s;
      color: $Green;
      .Search__Sub-Icon {
        color: $Green;
      }
    }
  }
}
