@import '/src/Components/Common/scss/mixins';
.Third__Container {
  @include Container__Form();
  margin-top: -50px;
  @include responsive('tablet') {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Third__Background {
    display: none;
  }
  @include responsive('tablet') {
    .Third__Background {
      width: 100%;
      height: 100vh;
      display: inline;
      position: absolute;
      z-index: -999;
      object-fit: cover;
    }
  }
  .Third__Contents {
    display: flex;
    width: 60%;
    height: 40vh;
    .Third__Image {
      display: flex;
      justify-content: center;
      > img {
        width: 300px;
        height: fit-content;
      }
    }
    .Third__Text {
      margin-left: 30px;
      > h1 {
        font-weight: 900;
        line-height: 1.3;
        font-size: 4vw;
      }
      > p {
        font-size: 14px;
        margin-top: 30px;
        color: gray;
        font-weight: 500;
        line-height: 2;
      }
    }
    @include responsive('tablet') {
      .Third__Text {
        text-align: center;
        color: #292929;
        width: 100%;
        > h1 {
          font-size: 7vw;
        }
        > p {
          color: black;
          font-size: 2vw;
        }
      }
      .Third__Image {
        display: none;
        > img {
          display: none;
        }
      }
    }
  }
}
