@import 'Components/Common/scss/_mixins.scss';

.Component__Container {
  padding-top: 12rem;
  // padding-bottom: 1.5rem;

  @include responsive('tablet') {
    // max-width: 24rem;
  }

  @include responsive('mobile') {
    // width: 90%;
    padding-top: 4rem;
  }

  // 전체 컨테이너
  .LoginPage__Container {
    max-width: 56rem;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
      rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;

    @include responsive('tablet') {
      max-width: 24rem;
      box-shadow: none;
    }

    @include responsive('mobile') {
      width: 90%;
      box-shadow: none;
    }

    // 이미지 컨테이너
    .Side__Image-Wrapper {
      display: block;
      background-size: cover;
      background-color: rgb(39, 43, 33);
      width: 50%;

      @include responsive('tablet') {
        display: none;
      }

      .Side__Image {
        width: 100%;
        height: 100%;
      }
    }

    // 로그인 컨테이너
    .Login__Container {
      width: 50%;
      padding: 2rem;

      @include responsive('tablet') {
        width: 100%;
      }

      // 로고 이미지
      .Plaintit__logo-Image {
        // position: relative;

        width: 60%;
        margin-bottom: 1rem;
        margin-left: 6rem;

        @include responsive('tablet') {
          margin-left: 5rem;
        }

        @include responsive('mobile') {
          margin-left: 4rem;
        }
      }
    }
  }
}

// 소셜 로그인 버튼
.Social__Login-Link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  color: white;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.Social__Login-Link:hover {
  background-color: #f7fafc;
}

.Social__Login-Wrapper {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;

  @include responsive('tablet') {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

.Social__Login-image {
  width: 1.5rem;
  height: 1.5rem;
}

.Login__H1 {
  width: 83.333333%;
  text-align: center;
  color: #718096;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;

  padding-right: 1rem;

  @include responsive('tablet') {
    font-size: 0.8rem;
  }
}

.Login__Divider-Wrapper {
  display: flex;
  margin-top: 1.5rem;
  align-items: center;
  justify-content: space-between;
}

.Login__Divider-Span {
  width: 30%;
  border-bottom: 1px solid #a0aec0;
}

.Login__Divider-Text {
  color: #a0aec0;
  font-size: 0.75rem;
  line-height: 1rem;
  text-align: center;
}

.Form__Content-Wrapper {
  margin-top: 1rem;
}

.Form__Label-Wrapper {
  display: flex;
  justify-content: space-between;
}

.Form__Label {
  display: block;
  color: #4a5568;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-bottom: 0.5rem;
}

.Form__Input {
  width: 92%;
  background-color: #edf2f7;
  color: #4a5568;
  border: 1px solid #e2e8f0;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  appearance: none;

  @include responsive('mobile') {
    width: 90%;
  }
}

.Form__Input:focus {
  outline: 2px solid transparent;
  box-shadow: 0 0 0 3px #9ae6b4;
}

// 로그인, 회원가입 부분
.Submit__Form-Wrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  margin-top: 2rem;
}

.Plantit__Login-Button {
  background-color: #88bb61;
  border: none;
  color: white;
  font-weight: 700;
  padding: 0.5rem 1.5rem;
  border-radius: 0.25rem;
}

.Plantit__Login-Button:hover {
  background-color: darken($color: #88bb61, $amount: 10%);
  cursor: pointer;
}

.Plantit__Register-Link {
  color: #a0aec0;
  font-size: 0.75rem;
  line-height: 1rem;
  text-align: end;
  margin: auto 0;
  cursor: pointer;
}
