@import 'Components/Common/scss/mixins';
@import 'Components/Common/scss/variables';

.LoginPage__Container {
  @include Container__Form();
  background-color: #e0dfd9;
  .LoginPage__Wrapper {
    @include Auth__Container();
    background-color: white;
    .LoginPage__Image {
      width: 45%;
      height: 100%;
      object-fit: cover;
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;
      @include responsive('tablet') {
        width: 50%;
      }
      @include responsive('mobile__small') {
        display: none;
      }
    }
    .Login__Wrapper {
      width: 55%;
      height: 100%;
      display: flex;
      flex-direction: column;
      border-top-right-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
      align-items: center;
      padding-left: 3rem;
      justify-content: space-around;
      @include responsive('tablet') {
        padding-left: 1rem;
      }
      @include responsive('mobile__small') {
        width: 100%;
        height: 60%;
      }
      .LoginPage__Logo {
        width: 55%;
        @include responsive('mobile__small') {
          width: 70%;
          margin-bottom: 3rem;
        }
      }
      .Form__Container {
        width: 60%;
        @include responsive('tablet') {
          width: 70%;
        }
        @include responsive('mobile__small') {
          width: 80%;
        }
        .Form__Wrapper {
          width: 100%;
          margin-bottom: 2rem;
          .Form__Label {
            color: gray;
            margin-left: -20px;
          }
          .Form__Input {
            width: 100%;
            margin-left: -30px;
            outline: none;
            border: none;
            text-decoration: none;
            border: 1px solid #e2e8f0;
            border-radius: 0.5rem;
            padding: 0.9rem 2rem 0.9rem 0.8rem;
            font-size: 16px;
            appearance: none;
            transition: 0.5s;
            &::placeholder {
              color: lightgray;
            }
            &:focus {
              color: $Green;
              transition: 0.5s;
              border: 1px solid $LightGreen;
              &::placeholder {
                color: white;
                transition: 0.5s;
              }
            }
            @include responsive('tablet') {
              padding: 0.6rem 1rem 0.6rem 1rem;
            }
          }
        }
      }
      .Submit__Wrapper {
        display: flex;
        width: 60%;
        flex-direction: column;
        align-items: center;
        .Login__Button {
          background-color: #bcdea1;
          color: white;
          font-weight: 600;
          font-size: 20px;
          border-radius: 0.5rem;
          width: 7rem;
          height: 3rem;
          border: none;
          transition: 0.5s;
          cursor: pointer;
          margin-bottom: 1rem;
          &:hover {
            transition: 0.5s;
            background-color: #92cd7b;
          }
        }
        .Register__Button {
          color: darkgray;
          transition: 0.5s;
          cursor: pointer;
          &:hover {
            transition: 0.5s;
            color: $LightGreen;
          }
        }
      }
      .SocialLogin__Container {
        display: flex;
        width: 30%;
        justify-content: space-around;
        @include responsive('mobile__small') {
          width: 50%;
          margin-top: 4rem;
        }
        .SocialLogin__Link {
          width: 25%;
          display: flex;
          align-items: center;
          cursor: pointer;
          transition: 0.7s;
          &:hover {
            transform: scale(1.2);
            transition: 0.7s;
          }
          .SocialLogin__Google {
            font-family: 'Montserrat';
            font-weight: 900;
            font-size: 2rem;
            color: #c45140;
            background-color: transparent;
            width: 28px;
            height: 28px;
          }
          .SocialLogin__Naver {
            font-family: 'Montserrat';
            font-weight: 900;
            font-size: 2rem;
            cursor: pointer;
            color: $LightGreen;
            background-color: transparent;
            border: none;
            transition: 0.5s;
          }
        }
      }
    }
  }
}
