@import "/src/Components/Common/scss/mixins";
@import "/src/Components/Common/scss/variables";

.Example__Container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;

  .Example__Wrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    @include responsive("mobile") {
      width: 100%;
      margin-bottom: 3rem;
    }
    .SubExample__Container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 3rem;
      margin-bottom: 1rem;
      width: 100%;
      @include responsive("mobile") {
        width: 90%;
        margin-top: 2rem;
        margin-bottom: 3rem;
      }
      .Example__Title {
        font-size: 3.5rem;
        font-weight: 800;
        margin: 2rem 0;
        @include responsive("tablet") {
          text-align: center;
        }
        @include responsive("mobile__small") {
          font-size: 1.8rem;
          margin-top: 0;
        }
      }

      .Example__Text-Container {
        background-color: rgb(248, 248, 248);
        margin: 2rem auto;
        width: 100%;

        .Example__Text {
          font-size: 1.1rem;
          line-height: 1.5;
          margin: 3rem 0 3rem 4rem;
          word-break: keep-all;
          color: $Green;
          display: flex;
          flex-direction: row;
          @include responsive("tablet") {
            font-size: 1rem;
          }
          @include responsive("mobile") {
            font-size: 0.9rem;
            margin: 2rem 0.5rem;
          }
        }
      }
      .Example__Content {
        display: grid;
        grid-template-columns: repeat(3, 0.5fr);
        grid-template-rows: repeat(2, 0.5fr);
        gap: 1rem;
        @include responsive("mobile__small") {
          grid-template-columns: repeat(1, minmax(0, 1fr));
        }
        .Example__Subtitle {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 3rem;
          font-weight: 700;
          margin-bottom: 2rem;
          color: $Green;
          grid-column: 1 / -1;
          @include responsive("mobile__small") {
            height: 100px;
            width: 100%;
            margin: 0 auto;
          }
        }
        .Example__Image {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 12px;
          @include responsive("mobile") {
            width: 100%;
            margin: 0 auto;
          }
        }
      }
    }
  }
}
