@import "/src/Components/Common/scss/mixins";
.Example__container {
    width: 75%;
    margin-top: 2rem;
    margin: 0 auto 4rem auto;
    display: flex;
    flex-direction: column;

    @include responsive("tablet__large") {
        width: 90%;
    }

    .Example__Title {
        font-size: 3rem;
        font-weight: 700;
        margin-top: 3rem;
        margin-bottom: 4rem;
        color: #659e38;

        @include responsive("tablet") {
            text-align: center;
        }
    }
}

.SubExample__Container {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    margin-bottom: 1rem;

    @include responsive("mobile") {
        margin-top: 2rem;
    }

    .Example__Content {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 1rem;

        @include responsive("tablet__large") {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        @include responsive("mobile") {
            grid-template-columns: repeat(1, minmax(0, 1fr));
        }
    }

    .Example__Image {
        width: 100%;
        height: 13rem;
        border-radius: 12px;

        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

        @include responsive("mobile") {
            width: 90%;
            margin: 0 auto;
        }
    }

    .Example__Subtitle {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        font-weight: 700;
        background-color: #f6f6f6;
        border-radius: 12px;
        box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    }

    .Example__Text {
        font-size: 1.3rem;
        line-height: 1.5;
        margin-bottom: 4rem;
    }
}
