<<<<<<< HEAD
@import '/src/Components/Common/scss/mixins';
=======
@import "../../Components/Common/scss/mixins";
>>>>>>> 3337563f4a456010442d88a519dbc3619f9972ff
.Result__Container {
  width: 100%;
  height: 100vh;
  position: relative;
  @include Swiper__Pagination();
}
