@import '/src/Components/Common/scss/mixins';

// 배너
@include Banner();

// 연락처
.Contact__Container {
  margin: 7rem 0;
  @include responsive('tablet') {
    margin: 3rem 0 7rem 0;
  }
  .Contact__Card {
    width: 50%;
    display: flex;
    margin: 0 auto;
    background-color: white;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
      rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    @include responsive('tablet') {
      width: 60%;
      box-shadow: none;
    }
    @include responsive('mobile') {
      width: 90%;
    }
    .Contact__Content-Container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 30px;
      width: 40%;
      background-color: #68d391;
      @include responsive('tablet') {
        display: none;
      }
      .Contact__Content {
        display: flex;
        margin: 2rem 1rem;
        color: white;
        line-height: 1.3;
        font-size: 16px;
        > span {
          padding-left: 10px;
        }
      }
    }
  }
  .Contact__Email-Container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 60%;
    align-items: center;
    @include responsive('tablet') {
      width: 100%;
    }
    .Contact__Logo {
      width: 40%;
      margin: 0.5rem auto;
      padding-left: 20px;
    }
    .Email__Container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1rem;
      width: 70%;
      .Input__Box {
        display: flex;
        flex-direction: column;
        margin-top: 0.5rem;
        .Email__Input {
          width: 100%;
          margin-top: 0.5rem;
          padding: 0.5rem;
          background-color: white;
          color: #2d3748;
          border-radius: 0.5rem;
          border: 1px solid #cbd5e0;
          font-weight: 400;
          &:focus {
            border: 1px solid #68d391;
            outline: 2px solid transparent;
            outline-offset: 2px;
          }
        }
      }
      .Input__Label {
        margin-top: 1rem;
        margin-left: 0.3rem;
      }
      .Text__Area {
        width: 100%;
        min-height: 150px;
        resize: none;
        background-color: white;
        border: 1px solid #cbd5e0;
        border-radius: 0.5rem;
        margin-top: 0.5rem;
        padding: 0.5rem;
        &:focus {
          border: 1px solid #68d391;
          outline: 2px solid transparent;
          outline-offset: 2px;
        }
      }
      .Submit__Button {
        font-size: 1rem;
        font-weight: 700;
        padding: 0.8rem 2rem;
        border: 0;
        background-color: #68d391;
        color: #fff;
        border-radius: 0.5rem;
        margin: 1rem auto;
        cursor: pointer;
        &:disabled {
          background-color: lightgray;
          color: #fff;
          cursor: not-allowed;
        }
      }
    }
  }
}
