@import '/src/Components/Common/scss/mixins';
.Board__Container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .Board__Top {
    height: 25vh;
    width: 80%;
    display: flex;
    align-items: flex-end;
    @include responsive('tablet') {
      height: 10vh;
    }
    .Board__Information {
      height: 5vh;
      width: 100%;
      display: flex;
      justify-content: space-between;
      border-top: 1px solid lightgray;
      > h1 {
        margin-top: 10px;
        color: gray;
      }
    }
  }
  .Board__Contents-Wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    .Board__Title {
      height: 30vh;
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 1.2;
      color: darkslategrey;
      font-weight: 700;
      font-size: 50px;
      @include responsive('tablet') {
        height: 20vh;
        margin-bottom: 25px;
        font-size: 7vw;
        text-align: center;
      }
      @include responsive('mobile__small') {
        font-size: 8vw;
        height: 15vh;
        margin-bottom: 0px;
      }
    }
    .Board__Contents {
      width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 20px 0;
      @include responsive('mobile') {
        width: 100%;
      }
      .ql-align-center {
        text-align: center;
      }
      .ql-align-right {
        text-align: right;
      }
      @for $i from 1 through 10 {
        $margin-left: 20px * $i;
        .ql-indent-#{$i} {
          margin-left: $margin-left;
        }
      }
      > ul {
        list-style: circle;
        line-height: 1.5;
        margin-left: 20px;
      }
      > ol {
        list-style: decimal;
        line-height: 1.5;
        margin-left: 20px;
      }
      > p {
        color: darkslategrey;
        line-height: 1.6;
        font-size: 18px;
        text-align: left;
        @include responsive('mobile') {
          font-size: 16px;
          line-height: 1.4;
        }
        > strong {
          font-weight: 700;
        }
        > u {
          text-decoration: underline;
        }
        > s {
          text-decoration: line-through;
        }
        > img {
          display: block;
          margin: 0 auto;
          min-width: 60%;
          width: 100%;
          margin-bottom: 10px;
        }
      }
      > blockquote {
        border-left: 3px solid gray;
        padding-left: 15px;
        word-break: keep-all;
        line-height: 1.4;
        color: darkgray;
        font-weight: 500;
      }
    }
  }
  .Board__Back {
    border: none;
    color: white;
    background-color: #bcdea1;
    width: 120px;
    height: 50px;
    font-size: 17px;
    font-weight: 700;
    margin-top: 30px;
    border-radius: 8px;
    transition: 0.5s;
    cursor: pointer;
    &:hover {
      transition: 0.5s;
      background-color: #92cd7b;
    }
  }
  .Board__Profile {
    margin: 5vh 0;
    height: 20vh;
    width: 40%;
    background-color: rgb(247, 247, 247);
    display: flex;
    justify-content: space-around;
    align-items: center;
    @include responsive('tablet') {
      width: 100%;
    }
    .Board__Profile-Wrapper {
      width: 60%;
      height: 70%;
      display: flex;
      @include responsive('tablet__large') {
        width: 55%;
      }
      @include responsive('mobile__small') {
        width: 70%;
      }
      .Board__Profile-Info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 30px;
        > h1 {
          display: flex;
          align-items: center;
          font-size: 2vw;
          font-weight: 700;
          @include responsive('tablet__large') {
            font-size: 4vw;
          }
          @include responsive('mobile') {
            font-size: 6vw;
          }
          > h3 {
            color: #92cd7b;
            font-weight: 500;
            font-style: italic;
            font-size: 1.3vw;
            margin-right: 10px;
            @include responsive('tablet__large') {
              font-size: 2vw;
            }
            @include responsive('mobile') {
              font-size: 3vw;
            }
          }
        }
        > span {
          color: gray;
          line-height: 1.3;
          word-break: keep-all;
          @include responsive('mobile__small') {
            font-size: 10px;
          }
        }
      }
    }
  }
  .Board__Modify__Delete {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    > button {
      border: none;
      outline: none;
      background-color: transparent;
      margin-left: 8px;
      cursor: pointer;
      transition: 0.5s;
      font-size: 16px;
      font-weight: 600;
      @include responsive('mobile') {
        font-size: 15px;
        margin-left: 5px;
      }
    }
    .Board__Modify {
      color: darkseagreen;
      &:hover {
        transition: 0.5s;
        transform: scale(1.07);
      }
    }
    .Board__Delete {
      color: tomato;
      &:hover {
        transition: 0.5s;
        transform: scale(1.07);
      }
    }
  }
  .disqusFrame {
    margin: 10px 0 100px 0;
    width: 70%;
    text-align: center;
    @include responsive('tablet') {
      margin-bottom: 150px;
    }
  }
}
