@import '/src/Components/Common/scss/mixins';
@import '/src/Components/Common/scss/variables';

.Pagination__Container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 20px;
  color: darkgray;
  @include responsive('tablet') {
    font-size: 3vw;
  }
  .Pagination__Wrapper {
    display: flex;
    .Pagination__Arrow {
      margin: 1px 10px 0 10px;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        color: $LightGreen;
      }
    }
    .Pagination__Number {
      margin: 0 10px;
      cursor: pointer;
      user-select: none;
      @include responsive('mobile') {
        margin: 0 5px;
      }
    }
  }
}

.Here {
  color: $Green;
  font-weight: 700;
}
.Disable {
  color: white;
  pointer-events: none;
}
