@import '/src/Components/Common/scss/variables';
.Submit__Container {
  width: 100%;
  height: 10vh;
  position: absolute;
  bottom: 0;
  border-top: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: space-around;
  .Submit__Buttons {
    width: 20%;
    > button {
      border: none;
      background-color: $LightGreen;
      color: white;
      width: 100px;
      height: 30px;
      border-radius: 5px;
      margin-right: 10px;
    }
  }
}
