@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

html {
  font-family: 'Noto Sans KR', 'Montserrat', sans-serif !important;
  &::-webkit-scrollbar {
    display: none;
    width: 0;
  }
}
