@import "/src/Components/Common/scss/mixins";

.Banner__Container {
    position: relative;
    width: 100%;
    .Banner__Image {
        width: 100%;
        position: relative;
    }

    .Banner__text {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 5rem;
        font-weight: 700;
        color: white;
        text-align: center;

        @include responsive("tablet__large") {
            font-size: 4rem;
        }

        @include responsive("mobile") {
            font-size: 3rem;
        }

        @include responsive("mobile__small") {
            font-size: 2rem;
        }
    }
}
