@import '/src/Components/Common/scss/mixins';
@import '/src/Components/Common/scss/variables';

.IntroContent__Container {
  width: 60%;
  margin: 5rem auto 5rem auto;
  @include responsive('tablet__large') {
    width: 80%;
  }
  @include responsive('tablet') {
    margin: 2rem auto 7rem auto;
  }
  .IntroContent__Image-Container {
    display: grid;
    gap: 6px;
    cursor: pointer;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin-top: 7rem;
    @include responsive('tablet') {
      margin-top: 4rem;
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    @include responsive('mobile') {
      margin-top: 4rem;
    }
    .IntroContent__Image {
      width: 100%;
      transition: 0.5s;
      &:hover {
        transform: scale(1.02);
        transition: 0.5s;
      }
    }
  }
  .Introduction__Content {
    margin-top: 5rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    color: darkgray;
    word-break: keep-all;
    line-height: 1.3;
    > span {
      color: $LightGreen;
      font-weight: 700;
    }
    @include responsive('tablet') {
      padding-bottom: 5rem;
    }
    @include responsive('mobile') {
      font-size: 1rem;
      padding-bottom: 1rem;
    }
    @include responsive('mobile__small') {
      font-size: 0.8rem;
    }
  }
}
