@import "/src/Components/Common/scss/mixins";

.Search__Result {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;

  @include responsive("tablet__large") {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  @include responsive("tablet") {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 95%;
    margin-bottom: 5rem;
  }

  @include responsive("mobile") {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
    margin-bottom: 6rem;
  }

  @include responsive("mobile__small") {
    gap: 0.5rem;
  }
}

.CropsList__Container-Box {
  background-color: #f6f6f6;
  padding: 1.5rem;
  border-radius: 0.5rem;
  text-align: center;
  margin-top: 1rem;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;

  @include responsive("mobile") {
    padding: 1rem;
  }

  @include responsive("mobile__small") {
    padding: 0.5rem;
    margin-top: 0rem;
  }

  .CropsList__Image {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
    margin-bottom: 1rem;

    @include responsive("mobile") {
      height: 10rem;
      margin-bottom: 0.5rem;
    }
  }

  .CropsList__Classification {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .Classification__Name {
      letter-spacing: 0.1em;
      color: #659238;
      font-size: 1rem;
      font-weight: 700;
      padding: 0.5rem;

      @include responsive("mobile") {
        font-size: 0.8rem;
        padding: 0.3rem;
      }
    }
  }

  .CropsList__Name {
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 1rem;

    @include responsive("mobile") {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }

    @include responsive("mobile__small") {
      font-size: 1.3rem;
      margin-bottom: 0.5rem;
    }
  }

  .CropsList__Content {
    font-size: 0.8rem;
    font-weight: 400;

    @include responsive("tablet") {
      font-size: 0.7rem;
    }

    @include responsive("mobile__small") {
      font-size: 0.5rem;
    }
  }

  .CropsList__Click {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;

    .CropsList__Button {
      font-size: 1rem;
      font-weight: 700;
      padding: 0.5rem;
      border: 0;
      background-color: #90bb65;
      box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
      color: #fff;
      border-radius: 0.5rem;
      margin: 0 auto;
      cursor: pointer;

      @include responsive("tablet") {
        font-size: 0.8rem;
        padding: 0.5rem;
      }

      @include responsive("mobile__small") {
        font-size: 0.6rem;
        padding: 0.5rem;
      }
    }
  }
}
