@import "/src/Components/Common/scss/mixins";
@import "/src/Components/Common/scss/variables";

.Modal__Background {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}

.Modal__Container-Test {
  width: 100%;
  max-width: 800px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  @include responsive("tablet") {
    width: 90%;
    top: 45%;
  }
  .Modal__Container {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    margin-top: 9rem;
    padding: 2rem;
    z-index: 99;
    overflow-y: scroll;
    height: 60vh;
    border-radius: 10px;
    &::-webkit-scrollbar {
      width: 10px;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: $LightGreen;
    }
    @include responsive("mobile__small") {
      padding: 0.5rem;
      margin-top: 3rem;
    }
    .Modal__CloseBtn {
      display: flex;
      justify-content: flex-end;
      .Modal__Icon {
        color: $LightGreen;
        font-size: 1.8rem;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          color: $Green;
          transition: 0.3s;
        }
      }
    }
    .Modal__Content {
      display: flex;
      flex-direction: column;
      align-items: center;
      .Modal__Image {
        width: 50%;
        height: 60%;
        object-fit: contain;
        border-radius: 12px;
        margin-bottom: 30px;
        @include responsive("tablet") {
          width: 80%;
          height: 80%;
        }
        @include responsive("mobile") {
          width: 90%;
          margin: 0.5rem auto;
        }
      }
      .Modal__Body {
        padding: 1rem 1rem 1rem;
        flex: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 0.8rem;
        .Pathology__Title {
          font-size: 2vw;
          font-weight: 700;
          display: inline-block;
          text-align: center;
          margin-bottom: 1rem;
          color: $Green;
          @include responsive("tablet__large") {
            font-size: 6vw;
          }
          @include responsive("mobile") {
            margin-top: 0;
          }
          @include responsive("mobile__small") {
            padding: 0.5rem;
            font-size: 1.5rem;
          }
        }
        .Pathology__Subtitle {
          font-size: 1rem;
          font-weight: 700;
          display: inline-block;
          text-align: center;
          margin-top: 0.5rem;
          color: $LightGreen;
          @include responsive("tablet__large") {
            font-size: 3vw;
          }
          @include responsive("mobile") {
            margin-top: 0px;
          }
          @include responsive("mobile__small") {
            font-size: 0.8rem;
          }
        }
        .Pathology__Explain {
          font-size: 1rem;
          line-height: 1.4;
          color: darkslategray;
          margin: 1rem 0 0.5rem 0.4rem;
          width: 60%;
          @include responsive("tablet__large") {
            width: 90%;
          }
          @include responsive("mobile__small") {
            font-size: 0.8rem;
            margin-left: 0;
          }
        }
        .Pathology__Subexplain {
          width: 60%;
          font-size: 0.9rem;
          line-height: 1.5;
          margin: 1rem 0 2rem 0;
          color: darkslategray;
          @include responsive("tablet__large") {
            width: 90%;
          }
          @include responsive("mobile__small") {
            font-size: 0.8rem;
            margin-bottom: 1rem;
          }
        }
        .Modal__Subtitle {
          margin-top: 5rem;
          font-size: 1.5vw;
          font-weight: 700;
          margin-top: 1rem;
          text-align: center;
          color: $Green;
          @include responsive("tablet__large") {
            font-size: 3vw;
          }
          @include responsive("mobile__small") {
            font-size: 6vw;
          }
        }

        .Kakao__Share {
          width: 3rem;
          background-color: white;
          border: none;

          .KakaoLogo {
            width: 100%;
          }
        }
      }
    }
  }
}
