.Dict__Text-Container {
    width: 80%;
    margin-top: 8rem;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 1024px) {
        margin-top: 2rem;
        width: 95%;
    }

    .Dict__Text {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1.2;

        @media screen and (max-width: 768px) {
            font-size: 2.5rem;
            font-weight: 700;
        }
    }
}
