@import '/src/Components/Common/scss/mixins';

.Member__Container {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 0 auto;
  margin-top: 10vh;
  user-select: none;
  @include responsive('tablet') {
    width: 80%;
  }
  @include responsive('mobile') {
    width: 90%;
  }
  .Member__Container-Box {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 7vh;
    &:hover {
      .Member__Github {
        display: block;
        animation: fadein 1s;
      }
    }
    .Member__Github {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      z-index: 9999;
      text-decoration: none;
      font-size: 20px;
      font-weight: 600;
      > svg {
        margin-left: 5px;
      }
      @include responsive('tablet') {
        font-size: 30px;
      }
      @include responsive('mobile__small') {
        font-size: 20px;
      }
    }
    .Member__Wrapper {
      padding: 0 10px;
      cursor: pointer;
      background-color: white;
      transition: 0.7s;
      width: 100%;
      &:hover {
        filter: brightness(20%);
        transition: 0.7s;
      }
      @include responsive('mobile') {
        padding: 0;
      }
      .Member__Container-Query {
        display: flex;
        @include responsive('tablet') {
          flex-direction: column;
          align-items: center;
        }
        .Member__Image-Container {
          width: 12rem;
          height: 12rem;
          margin-bottom: 0.75rem;
          margin-right: 40px;
          @include responsive('tablet') {
            width: 80%;
            height: 80%;
            margin-right: 0px;
            display: flex;
            justify-content: center;
          }
          .Member__Image {
            width: 100%;
            height: 100%;
            object-fit: contain;
            @include responsive('tablet') {
              width: 40%;
              height: 40%;
            }
            @include responsive('mobile__small') {
              width: 50%;
              height: 60%;
            }
          }
        }
        .Member__Text-Container {
          flex: 1 1 auto;
          margin-left: 0.75rem;
          width: 100%;
          justify-content: space-evenly;
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
          @include responsive('tablet') {
            text-align: center;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
          }
          .Member__Role {
            width: 100%;
            color: #659238;
            font-size: 1rem;
            font-weight: 700;
            margin-bottom: 0.5rem;
            @include responsive('tablet') {
              font-size: 2rem;
            }
            @include responsive('mobile') {
              font-size: 1rem;
            }
          }
          .Member__Name {
            width: 100%;
            color: darkslategrey;
            font-size: 2rem;
            font-weight: 700;
            @include responsive('tablet') {
              font-size: 3.5rem;
              margin-bottom: 30px;
            }
            @include responsive('mobile') {
              font-size: 2rem;
              margin-bottom: 10px;
            }
          }
          .Member__Introduction {
            width: 100%;
            color: darkslategray;
            font-size: 18px;
            font-weight: 400;
            padding-top: 1rem;
            line-height: 1.4;
            padding-bottom: 1rem;
            @include responsive('tablet') {
              font-size: 25px;
              line-height: 1.7;
              margin-bottom: 20px;
            }
            @include responsive('mobile__small') {
              font-size: 14px;
              margin-bottom: 10px;
            }
          }
        }
        .Member__Tag-Container {
          display: flex;
          font-size: 0.75rem;
          font-weight: 700;
          @include responsive('tablet') {
            justify-content: space-around;
          }
          .Member__Tag {
            display: inline-flex;
            background-color: #fff;
            color: #718096;
            margin-bottom: 0.5rem;
            margin-right: 0.5rem;
            padding: 0.5rem 0.5rem;
            letter-spacing: 0.05em;
            border: 1px solid #718096;
            border-radius: 0.75rem;
            align-items: center;
            @include responsive('tablet') {
              margin-bottom: 0;
              font-size: 2.5vw;
              padding: 1rem 2rem;
            }
            @include responsive('mobile__small') {
              font-size: 14px;
              padding: 0.5rem 0.7rem;
            }
          }
        }
      }
    }
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
