@import '/src/Components/Common/scss/mixins';
@import '/src/Components/Common/scss/variables';

.Team__Container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60vh;
  position: relative;
  cursor: pointer;
  @include responsive('tablet') {
    height: 50vh;
  }
  &:hover {
    .Team__Title {
      transition: 0.5s;
      color: $LightGreen;
    }
  }
  .Team__Image {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    object-fit: cover;
  }
  .Team__Title {
    width: 100%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 5vw;
    font-weight: 700;
    margin-bottom: 1rem;
    transition: 0.5s;
    @include responsive('tablet') {
      font-size: 9vw;
    }
  }
}
