@mixin responsive($device) {
  @if $device == "mobile" {
    @media screen and (max-width: 767px) {
      @content;
    }
  } @else if $device == "tablet" {
    @media screen and (max-width: 1024px) {
      @content;
    }
  }
}
@mixin Container__Form() {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
