@mixin responsive($device) {
  @if $device == "tablet__large" {
    @media screen and (max-width: 1280px) {
      @content;
    }
  } @else if $device == "tablet" {
    @media screen and (max-width: 1024px) {
      @content;
    }
  } @else if $device == "mobile" {
    @media screen and (max-width: 768px) {
      @content;
    }
  } @else if $device == "mobile__small" {
    @media screen and (max-width: 500px) {
      @content;
    }
  }
}

@mixin Container__Form() {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin Swiper__Pagination() {
  .swiper-pagination {
    text-align: left;
    width: 120px;
    left: 60px;
    @include responsive("tablet") {
      left: 30px;
    }
    @include responsive("mobile") {
      left: 10px;
    }
  }
  .swiper-pagination-bullet {
    color: #292929;
    font-weight: 700;
    background: transparent;
    padding-top: 17px;
    font-size: 15px;
    width: 100%;
    @include responsive("tablet") {
      font-size: 12px;
      padding-top: 10px;
    }
  }
  .swiper-pagination-bullet-active {
    color: #00b564;
    font-size: 18px;
    @include responsive("tablet") {
      font-size: 14px;
    }
  }
}
