@import "/src/Components/Common/scss/mixins";

.Error__Container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 700;
  color: #68d391;

  @include responsive("tablet") {
    font-size: 1.6rem;
  }
  @include responsive("mobile") {
    font-size: 1.3rem;
  }
}
