.Footer__Container {
  width: 100%;
  height: 24vh;
  padding-top: 80px;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #292929;
  .Footer__Contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
    margin-bottom: 10px;
    margin-top: -20px;
    .Footer__Logo {
      width: 140px;
      height: fit-content;
      display: inline-block;
      margin-bottom: 25px;
    }
    .Footer__Text {
      display: flex;
      flex-direction: column;
      align-items: center;
      > a {
        text-decoration: none;
        color: white;
        font-weight: 700;
        margin-bottom: 10px;
        transition: 0.5s;
        &:hover {
          color: #659e38;
          transition: 0.5s;
        }
      }
    }
  }
  .Footer__Copyright {
    color: lightgray;
    font-weight: 600;
  }
}
