@import '/src/Components/Common/scss/mixins';
@import '/src/Components/Common/scss/variables';
.Footer__Container {
  width: 100%;
  height: 24vh;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  background-color: #292929;
  @include responsive('tablet') {
    padding-top: 30px;
  }
  .Footer__Contents {
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0 10px 0;
    @include responsive('mobile__small') {
      margin-top: -10px;
      width: 46%;
    }
    .Footer__Logo {
      width: 140px;
      height: fit-content;
      display: inline-block;
      margin-bottom: 25px;
      @include responsive('mobile__small') {
        width: 80px;
      }
    }
    .Footer__Text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      @include responsive('mobile__small') {
        font-size: 11px;
      }
      > a {
        text-decoration: none;
        color: white;
        font-weight: 500;
        margin-bottom: 10px;
        transition: 0.5s;
        width: fit-content;
        height: fit-content;
        &:hover {
          color: $Green;
          transition: 0.5s;
        }
        @include responsive('mobile__small') {
          font-size: 5px;
          margin-bottom: 4px;
        }
      }
      > span {
        color: white;
        font-weight: 500;
        margin-bottom: 10px;
        transition: 0.5s;
        width: fit-content;
        height: fit-content;
        cursor: pointer;
        &:hover {
          color: $Green;
          transition: 0.5s;
        }
        @include responsive('mobile__small') {
          font-size: 5px;
          margin-bottom: 4px;
        }
      }
    }
  }
  .Footer__Copyright {
    color: lightgray;
    font-weight: 500;
    @include responsive('tablet') {
      letter-spacing: 1.2;
    }
    @include responsive('mobile__small') {
      margin-top: -5px;
      font-size: 6px;
      word-spacing: 3px;
    }
  }
  .Bottom {
    color: #2a2a2a;
  }
}
