@import "/src/Components/Common/scss/mixins";
@import "/src/Components/Common/scss/variables";
.Footer__Container {
  width: 100%;
  height: 24vh;
  position: relative;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  background-color: #292929;
  @include responsive("tablet") {
    padding-top: 30px;
  }
  .Footer__Contents {
    width: 240px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0 10px 0;
    @include responsive("mobile") {
      margin-top: 0px;
    }
    .Footer__Logo {
      width: 140px;
      height: fit-content;
      display: inline-block;
      margin-bottom: 25px;
    }
    .Footer__Text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      @include responsive("mobile") {
        font-size: 11px;
      }
      > a {
        text-decoration: none;
        color: white;
        font-weight: 500;
        margin-bottom: 10px;
        transition: 0.5s;
        &:hover {
          color: $Green;
          transition: 0.5s;
        }
      }
    }
  }
  .Footer__Copyright {
    color: lightgray;
    font-weight: 500;
    @include responsive("mobile") {
      margin-top: -10px;
      font-size: 10px;
      word-spacing: 3px;
    }
  }
}
