<<<<<<< HEAD
@import './variables';
#map {
  width: 60%;
  height: 60%;
  border-radius: 12px;
  border: 2px solid $LightGreen;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
=======
@import "/src/Components/Common/scss/mixins";

#map {
    position: absolute;
    width: 60%;
    height: 50%;
    top: 8rem;
    border-radius: 12px;
    border: 2px solid #8c9d3d;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    @include responsive("tablet") {
        top: 2rem;
        height: 60%;
    }

    @include responsive("mobile") {
        left: 8rem;
    }
>>>>>>> 3337563f4a456010442d88a519dbc3619f9972ff
}
