@import "/src/Components/Common/scss/mixins";

#map {
  width: 80%;
  margin: 0 auto 3rem auto;
  height: 70vh;
  border-radius: 12px;
  border: 2px solid #8c9d3d;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  @include responsive("tablet") {
    width: 90%;
  }
}
