@import '/src/Components/Common/scss/mixins';

#map {
  width: 80%;
  margin: 0 auto 3rem auto;
  height: 70vh;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;

  @include responsive('tablet') {
    width: 90%;
  }
}
