@import '/src/Components/Common/scss/mixins';
@import '/src/Components/Common/scss/variables';

.ProgressBar__Container {
  width: 100%;
  height: 7px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9999;
  @include responsive('tablet') {
    height: 11px;
  }
  @include responsive('mobile__small') {
    height: 5px;
  }
  .ProgressBar__Status {
    transform-origin: top left;
    height: 100%;
    background-color: #88ca5e;
  }
}
