@import "/src/Components/Common/scss/mixins";

// Modal__Background = Modal창의 외부 배경화면
.Rmodal__Background {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    position: fixed;
    top: 70px;

    @include responsive("tablet") {
        top: 0px;
    }
}

.Rmodal__Container-Test {
    position: fixed;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 200px;
    width: 100%;
    max-width: 1000px;
    justify-content: center;
    align-items: center;

    @include responsive("tablet") {
        width: 90%;
        top: 10px;
        margin-left: 0 auto;
    }

    // Modal__Container  = Modal창 그 자체
    .Rmodal__Container {
        min-height: 400px;
        max-height: 700px;
        border-radius: 12px;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        z-index: 999;

        @include responsive("tablet__large") {
            margin: 0 auto;
            max-height: 600px;
        }

        @include responsive("mobile") {
            overflow-y: scroll;
        }

        @include responsive("mobile__small") {
            padding: 0.5rem;
            max-height: 600px;
        }

        // Modal__Content = Modal의 내용 (이미지, 글)이 들어가는 공간
        .Rmodal__Content {
            display: flex;
            flex-direction: row;

            @include responsive("mobile") {
                flex-direction: column;
            }

            .Rmodal__Image {
                width: 50%;
                height: 45vh;
                border-radius: 12px;

                @include responsive("mobile") {
                    width: 90%;
                    margin: 0.5rem auto;
                }
            }

            // text가 들어가는 공간
            .Rmodal__Body {
                padding: 1rem 1rem 1rem 2rem;
                flex: 50%;
                display: flex;
                flex-direction: column;
                font-size: 0.8rem;

                @include responsive("mobile") {
                    padding: 1rem;
                }

                // 농약 소개
                .Pesticide__Description {
                    font-size: 1.5rem;
                    font-weight: 700;
                    color: #659e38;
                    margin-bottom: 0.5rem;

                    @include responsive("mobile") {
                        text-align: center;
                    }
                }

                // 농약 이름
                .Pesticide__Title {
                    font-size: 2rem;
                    font-weight: 700;
                    display: inline-block;
                    margin-bottom: 1rem;

                    @include responsive("mobile") {
                        text-align: center;
                    }
                }

                .Pesticide__Feature {
                    font-size: 0.8rem;
                    line-height: 1.5;

                    @include responsive("mobile") {
                        text-align: center;
                    }
                }

                // 주요특성, 기타정보
                .Pesticide__Subtitle {
                    font-size: 1rem;
                    font-weight: 700;
                    display: inline-block;
                    margin-top: 1rem;
                    text-align: center;
                }

                .Pesticide__Explain {
                    width: 100%;
                    font-size: 0.8rem;
                    line-height: 1.2;
                    margin: 0.5rem 0;

                    @include responsive("mobile") {
                        text-align: center;
                    }
                }
            }
        }
    }
}

.Rmodal__CloseBtn {
    display: flex;
    justify-content: flex-end;

    .Rmodal__Icon {
        background: #000;
        border-radius: 5px;
        opacity: 0.8;
        cursor: pointer;
        :hover {
            opacity: 1;
        }
    }
}
