@import '/src/Components/Common/scss/mixins';
@import '/src/Components/Common/scss/variables';

.ResultSecond__Container {
  width: 70%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  @include responsive('tablet') {
    height: 40vh;
    justify-content: center;
  }
  @include responsive('mobile__small') {
    margin: 0;
    width: 100%;
    height: 50vh;
    align-items: center;
  }
  .ResultSecond__Title {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 6rem;
    @include responsive('tablet') {
      font-size: 3rem;
    }
    @include responsive('mobile__small') {
      font-size: 2rem;
      margin: 0 0 1rem 1rem;
    }
  }
  .Certificate__Image {
    width: 90%;
    margin-bottom: 3rem;
    @include responsive('tablet__large') {
      width: 100%;
    }
    @include responsive('mobile__small') {
      display: none;
    }
  }
  .Certificate__Content {
    display: none;
    @include responsive('mobile__small') {
      display: block;
      text-align: center;
      line-height: 1.5;
      font-size: 1.4rem;
      > span {
        font-size: 5rem;
        font-weight: 800;
      }
    }
  }
}
.Level0 {
  @include responsive('mobile__small') {
    background-color: #b7e058;
    .Certificate__Content {
      > span {
        color: $Green;
      }
    }
  }
}
.Level1 {
  @include responsive('mobile__small') {
    background-color: #d2c155;
    .Certificate__Content {
      > span {
        color: rgb(255, 112, 87);
      }
    }
  }
}
.Level2 {
  @include responsive('mobile__small') {
    background-color: #f5834d;
    .Certificate__Content {
      > span {
        color: rgb(250, 78, 48);
      }
    }
  }
}
.Level3 {
  @include responsive('mobile__small') {
    background-color: #fc4544;
    .Certificate__Content {
      > span {
        color: black;
      }
    }
  }
}
