@import "/src/Components/Common/scss/mixins";
@import "/src/Components/Common/scss/variables";

.Result__Container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  .Result__Wrapper {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include responsive("tablet__large") {
      width: 100%;
    }
  }
}
.Result__Notice-Container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 700;
  color: #68d391;

  @include responsive("tablet") {
    font-size: 1.6rem;
  }

  @include responsive("mobile") {
    font-size: 1.3rem;
  }

  .loader {
    border: 16px solid #eaeaea;
    border-top: 16px solid #68d391;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: 2rem 0;

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}

.Map__Button-Container {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  background-color: #bcdea1;
  color: white;
  font-size: 3rem;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1rem;
  animation: bounce_frames 0.5s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
  animation-iteration-count: infinite;

  @keyframes bounce_frames {
    from {
      transform: translate3d(0, 1rem, 0);
    }
    to {
      transform: translate3d(0, 2rem, 0);
    }
  }

  @include responsive("tablet") {
    bottom: 10rem;
  }

  @include responsive("mobile") {
    animation: none;
    right: 0.5rem;
    width: 3rem;
    height: 3rem;
    bottom: 6rem;
  }

  @include responsive("mobile__small") {
    top: 1rem;
    right: 2rem;
    animation: none;
    right: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
  }

  .Map__Button-Wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    .Map__Button-text {
      font-size: 1rem;
      background-color: #bcdea1;
      color: white;
      font-weight: 700;
      text-align: center;
      margin-bottom: 0.5rem;

      @include responsive("mobile") {
        display: none;
      }
    }

    .Map__Button {
      font-size: 2.2rem;
      background-color: #bcdea1;
      color: white;

      @include responsive("mobile") {
        font-size: 2.5rem;
      }

      @include responsive("mobile__small") {
        font-size: 1.5rem;
      }
    }
  }
}
