@import '/src/Components/Common/scss/mixins';

.ResultFirst__Container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  @include responsive('tablet__large') {
    flex-direction: column;
    width: 80%;
  }
  @include responsive('mobile__small') {
    width: 90%;
    height: 100vh;
  }
}

.ResultFirst__Image-Container {
  height: 40%;
  width: 30%;
  display: flex;
  @include responsive('tablet') {
    width: 90%;
    margin: 0 auto;
  }
  @include responsive('mobile__small') {
    height: 30%;
  }
  .ResultFirst__Image {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 12px;
    @include responsive('tablet__large') {
      margin-top: -5rem;
    }
  }
}

.ResultFirst__Text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40%;
  width: 40%;
  padding: 0 3rem;
  @include responsive('tablet__large') {
    width: 100%;
    padding: 0;
    height: 20%;
    align-items: center;
  }
  @include responsive('mobile') {
    height: 30%;
  }
  .Text__Result {
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    color: #659e38;
    margin-bottom: 0.5rem;
    font-weight: 700;
    @include responsive('tablet') {
      text-align: center;
      margin-top: 2rem;
    }
    @include responsive('mobile__small') {
      font-size: 1rem;
    }
  }
  .Disease__Name {
    font-size: 3rem;
    font-weight: 700;
    @include responsive('tablet') {
      text-align: center;
    }
    @include responsive('mobile__small') {
      font-weight: 800;
      font-size: 2.5rem;
    }
  }
  .Result__Level {
    font-weight: 700;
    color: white;
    padding: 0.5rem 1rem 0.7rem 1rem;
    margin: 1rem 0;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    cursor: pointer;
    @include responsive('mobile__small') {
      font-size: 12px;
    }
  }
  .Red {
    background-color: orangered;
  }
  .Orange {
    background-color: orange;
  }
  .Yellow {
    background-color: rgba(233, 230, 27, 0.801);
  }
  .Disease__Symptom {
    font-size: 1rem;
    line-height: 1.4;
    color: darkslategray;
    display: flex;
    background-color: rgb(248, 248, 248);
    padding: 2rem;
    > span {
      margin-right: 5px;
      height: 100%;
      @include responsive('tablet__large') {
        margin-right: 10px;
      }
    }
    @include responsive('tablet__large') {
      font-size: 1.2rem;
      width: 80%;
    }
    @include responsive('mobile__small') {
      font-size: 0.8rem;
    }
  }
}
