@import '/src/Components/Common/scss/mixins';

.ResultThird__Container {
  width: 100%;
  height: 90vh;
  @include responsive('tablet__large') {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60vh;
  }
  @include responsive('mobile__small') {
    margin-top: 5rem;
    height: 90vh;
    font-size: 2.5rem;
  }
}

.ResultThird__Text-Container {
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5rem;
  .ResultThird__Title {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 3rem;
    @include responsive('tablet') {
      font-size: 3rem;
    }
    @include responsive('mobile__small') {
      font-size: 2.5rem;
    }
  }

  .ResultThird__Content {
    font-size: 1.2rem;
    line-height: 1.7;
    margin-bottom: 2rem;
    > span {
      display: flex;
      word-break: keep-all;
      > div {
        height: 100%;
        margin-right: 5px;
      }
    }
    @include responsive('tablet') {
      font-size: 1rem;
    }

    @include responsive('mobile__small') {
      font-size: 0.8rem;
    }
  }
}

.Pesticides__Image {
  display: block;
  width: 100%;

  height: 20rem;
  border-radius: 1.5rem;
  object-fit: contain;

  @include responsive('tablet') {
    height: 15rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.Image__Overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.Image {
  position: relative;
  width: 400px;
}

.Image__Overlay--Blur {
  backdrop-filter: blur(5px);
}

.Image__Overlay--Primary {
  background: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.Image__Overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.Image__Overlay:hover {
  opacity: 1;
}

.Image__Overlay:hover > * {
  transform: translateY(0);
}

.Image__Title {
  font-size: 2rem;
  font-weight: bold;

  @include responsive('tablet') {
    font-size: 1.5rem;
  }
}

.Image__Description {
  font-size: 1.25rem;
  margin-top: 0.5rem;

  @include responsive('tablet') {
    font-size: 1rem;
  }
}

// carousel 디자인

// carousel 크기
#root
  > div
  > div
  > section.ResultThird__Container
  > div.rec.rec-carousel-wrapper {
  width: 75%;
  margin: 0 auto;

  @include responsive('mobile__small') {
    width: 85%;
  }
}

// 좌우버튼

#root
  > div
  > div
  > section.ResultThird__Container
  > div.rec-carousel-wrapper
  > div.rec.rec-carousel
  > button {
  background-color: white;
  color: #5d5d5d;
  font-size: 3rem;
  box-shadow: none;
}

#root
  > div
  > div
  > section.ResultThird__Container
  > div.rec-carousel-wrapper
  > div.rec.rec-carousel
  > button:hover {
  // background-color: #5d5d5d;
  font-size: 4rem;
  // color: white;
}

#root
  > div
  > div
  > section.ResultThird__Container
  > div.rec-carousel-wrapper
  > div.rec.rec-carousel
  > button:disabled {
  visibility: hidden;
}

// carousel dot button: 밑에 동그라미

#root
  > div
  > div
  > section.ResultThird__Container
  > div.rec.rec-carousel-wrapper
  > div.rec.rec-pagination {
  display: none;
}

#root
  > div
  > div
  > section.ResultThird__Container
  > div.rec.rec-carousel-wrapper
  > div.rec.rec-pagination
  > button.rec.rec-dot {
  box-shadow: 0 0 1px 3px #5d5d5d;
}

.rec.rec-arrow:disabled {
  visibility: hidden;
}

.rec-carousel-item:focus {
  outline: none;
  box-shadow: inset 0 0 1px 1px lightgrey;
}

// 농약 정보가 없는 경우
.No__Result_Text {
  text-align: center;
  font-size: 1.5rem;
  color: darkgray;
  margin: 2rem 0;
}

.No__Result_Text:hover {
  color: tomato;
}
