@import "/src/Components/Common/scss/mixins";
.Rfirst__Container {
    width: 75%;
    margin-top: 15rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;

    @include responsive("tablet") {
        position: relative;
        flex-direction: column;
    }
}

.Rfirst__Image-continer {
    width: 50%;
    display: flex;

    @include responsive("tablet") {
        width: 60%;
        margin: 0 auto;
    }

    .Rfirst__Image {
        width: 100%;
        border-radius: 12px;
        border-radius: 12px;
        border: 2px solid #8c9d3d;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
}

.Rfirst__Text-continer {
    width: 50%;
    padding: 3rem;

    @include responsive("tablet") {
        width: 60%;
        margin: 0 auto;
    }

    .Crops__class {
        font-size: 2rem;
        color: #659e38;
        margin-bottom: 1rem;
        font-weight: 700;

        @include responsive("mobile") {
            text-align: center;
        }
    }

    .Disease__Title {
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 3rem;

        @include responsive("mobile") {
            text-align: center;
        }
    }

    .Disease__Content {
        font-size: 1rem;
        line-height: 1.3;
    }
}
