@import "/src/Components/Common/scss/mixins";

.Rsecond__Container {
  width: 80%;
  margin: 20rem auto;

  @include responsive("tablet") {
    margin: 15rem auto;
  }

  @include responsive("mobile__small") {
    width: 90%;
  }

  .Rsecond__Title {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 6rem;

    @include responsive("tablet") {
      font-size: 3rem;
    }

    @include responsive("mobile__small") {
      font-size: 2rem;
    }
  }

  .Certificate__Image {
    width: 100%;
    margin-bottom: 3rem;
  }

  .Certificate__Content {
    margin-top: 3rem;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    color: #5d5d5d;

    @include responsive("tablet") {
      font-size: 1rem;
      line-height: 1.5;
    }

    @include responsive("mobile") {
      font-size: 0.8rem;
      line-height: 1.5;
    }
  }
}
